<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195995846502-nsacag3ba3gvb02q7o8nnp8gjqdi2gst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195995846502-nsacag3ba3gvb02q7o8nnp8gjqdi2gst</string>
	<key>API_KEY</key>
	<string>AIzaSyAsnQnqnVtJFggcYqEs0M6ZrunkyCHSAUY</string>
	<key>GCM_SENDER_ID</key>
	<string>195995846502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studia</string>
	<key>PROJECT_ID</key>
	<string>studia-6cacf</string>
	<key>STORAGE_BUCKET</key>
	<string>studia-6cacf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195995846502:ios:f3baaa1dac7c7889f76aa7</string>
</dict>
</plist>